node_modules/
dist/
.env

testnet/artifacts/*
!testnet/artifacts/.gitkeep

testnet/ada/bin/
testnet/ada/obj/

spark/obj/
spark/obj_lightning/
spark/obj_integer/
spark/obj_residue/
spark/obj_btc_loan/
spark/obj_covered_call_yield_note/
spark/obj_autocallables/

site/
